/*Boy why are you looking at my horrible Fucking Garbage Ass formatting noooooo what the hell man why would you do that to yourself why would you even consider. Come on. Seriously why you don't wanna be here looking at this stuff you'll get insane brain damage
and you'll like, lose all your loved ones and go into the grave early and, like, that sucks. So it's kinda your fault if you're still here because like yknow i won't force you out, like actually force you to leave, but oh well if you wanna see this stuff
i guess that's your choice. Just note that I'm not responsible for the insane amount of brain aneurysms that you may have.*/

/*really cool fonts*/

@font-face {
    font-family: 'IBM VGA 9x16';
    src: url("/resources/fonts/WebPlus_IBM_VGA_9x16.woff") format("truetype");
}

@font-face {
    font-family: 'IBM DOS ISO8';
    src: url("/resources/fonts/Web437_IBM_DOS_ISO8.woff");
}
@font-face {
    font-family: 'IBM BIOS';
    src: url("/resources/fonts/WebPlus_IBM_BIOS.woff")
}

/*really cool formatting*/

body {
    background-image: url("/resources/background.png");
    background-attachment: fixed;
    image-rendering: pixelated;
    /*non integer users shitting themselves*/
    margin: 0px;
}

h1 {
    color: #d3d6ff;
    text-align: center;
    font-family: 'IBM VGA 9x16';
    font-size: 32px;
    font-weight: normal;
}

p {
    color: #d3d6ff;
    font-family: 'IBM DOS ISO8';
    /*text-indent: 0.5in;*/
    font-size: 16px;
}

small {
    color: #d3d6ff;
    font-family: 'IBM BIOS';
    font-size: 8px;
}

ftr {
    color: #3b4170;
    font-family: 'IBM BIOS';
    font-size: 8px;
}

a {
    color: #81ccfa;
    font-family: 'IBM DOS ISO8';
    font-size: 16px;
    text-decoration: none;
}

a:active {
    color: #f4b9f5
}

a:hover {
    color: #3e8aed;
}

#button {
    font-size: 0;
    /*i don't know if making font-size: 0px; to hide text is efficient but i don't care it works*/
    display: inline-block;
    padding-block: 2px;
}

#link-button {
    /*my head hurts*/
    font-size: 0;
    text-decoration: none;
}

hr {
    border: 1px solid #1d1f36;
}

/*hitting the griddy for Ukraine*/

.grid-container {
    display: grid;
    grid-template-areas:
        'left header'
        'left main'
        'footer footer';
    background: #2a2c4d;
    max-width: 800px;
    margin: auto;
    /*border: 2px solid #1d1f36;*/
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.5)
}

.header {
    grid-area: header;
    /*border-bottom: 2px solid #1d1f36;*/
    font-size: 0px;
}

.main {
    grid-area: main;
    padding: 16px;
    padding-top: 0px;
}

.left {
    grid-area: left;
    text-align: center;
    background-color: #1d1f36;
    width: 100px;
    padding: 16px;
    /*border-right: 2px solid #1d1f36;*/

}

.footer {
    grid-area: footer;
    text-align: center;
    background-color: #131524;
    padding: 16px;
    /*border-top: 2px solid #1d1f36;*/
}

/*these are the fieldsets used for the sidebar bcus i like how they look :3*/

#side-nav {
    border: 2px solid #2a2c4d;
    margin: auto;
    padding: 2px;
    font-size: 0;
}

/*div hell*/